* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.border {
  border: 3px solid red;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  height: 30rem;
  width: 30rem;
  border: 4px solid rgb(137, 137, 137);
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  margin-bottom: 5px;
  align-items: center;
  padding: 10px;

  h1 {
    color: aquamarine;
    font-size: 2.5rem;
  }

  p {
    text-align: center;
    margin-block: 10px;
    color: #ffc123;
  }
}

.input-label {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

input {
  border: 2px solid rgb(99, 99, 99);
  border-radius: 5px;
  height: 2rem;
  width: 11rem;
  margin-bottom: 15px;
  background-color: #2a2a2a;
  text-align: center;
  color: white;
  font-size: 20px;
}

button {
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: #e25a00;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 5px;

  &:hover {
    background-color: #b04700;
  }
  &:active {
    background-color: #e25a00;
  }
}

.result {
  width: 100%;
  height: 40%;
  padding: 10px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
}

.output {
  margin-top: -10px;
  margin-inline: auto;
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  margin-block: 5px;
}
